body {
/*  min-width: 1160px;*/
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #8d8f92;
  background-color: #ffffff;
  counter-reset: section;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

.section-heading {
  position: relative;
  margin: 0 0 55px 0;
  padding-left: 24px;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292f36;
}

.section-heading::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 10px;
  height: 35px;
  background-color: #e1e6ea;
}


/*HEADER*/

.main-header {
  padding: 20px 0;
  background-color: #1d2126;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 603px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-list li {
  margin-right: 11px;
}

.main-list a {
  display: block;
  padding: 0 9px;
  color: #a4aead;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid transparent;
}

.main-list a:hover {
  color: #a4aead;
  border: 2px solid #5b6168;
  border-radius: 2px;
}

.main-list .active {
  color: #23b7a4;
  border: 2px solid #23b7a4;
  border-radius: 2px;
}

.btn-toggle {
  display: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/menu-icon.png);
  background-repeat: no-repeat;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

/* END HEADER*/


/*BANNER*/

.banner-heading {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.banner-text {
  width: 654px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: #ccd0d7;
}

.banner-btn {
  display: inline-block;
  padding: 6px 21px;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  border-radius: 3px;
  vertical-align: middle;
}

.banner-btn:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3a454d;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 570px;
}

.swiper-pagination {
  text-align: right;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
  right: 205px;
  bottom: 35px;
  left: auto;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border: 2px solid #fff;
  opacity: 1;
  background: none;
}

button.swiper-pagination-bullet {
  border: 2px solid #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}


/* END BANNER*/


/* ABOUT*/

.about-section {
  border-bottom: 1px solid #dde1e4;
  padding: 80px 0 100px 0;
}

.about-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-social {
  width: 654px;
}

.about-text {
  margin: 0 0 30px 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 304px;
  margin-top: 55px;
}

.social-btn {
  width: 60px;
  height: 60px;
  background: #c8cdd0;
}

.social-fb {
  background: #c8cdd0 url(../img/fb-icon.svg) no-repeat center center;
}

.social-tw {
  background: #c8cdd0 url(../img/tw-icon.svg) no-repeat center center;
}

.social-google {
  background: #c8cdd0 url(../img/google-icon.svg) no-repeat center center;
}

.social-ball {
  background: #c8cdd0 url(../img/ball-icon.svg) no-repeat center center;
}

.social-behance {
  background: #c8cdd0 url(../img/behance-icon.svg) no-repeat center center;
}

.social-btn:hover {
  background-color: #d0d5d9;
}

.about-list {
  width: 457px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-list .about-list-heading {
  margin: 0 0 5px 0;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292f36;
}

.about-list .about-list-text {
  margin: 0;
}

.about-list-item {
  position: relative;
  padding-left: 67px;
  margin-bottom: 28px;
}

.about-list-item::before {
  counter-increment: section;
  content: '0' counter(section);
  position: absolute;
  left: 0;
  top: 9px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  background-color: #39a493;
  color: #ffffff;
}


/*END ABOUT*/


/*OUR TEAM*/

.members-section {
  padding: 80px 0 100px 0;
}

.members-list {
  margin: 0 -16px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.members-item {
  position: relative;
  width: calc(25% - 32px);
  margin: 0 16px 5px 16px;
}

.members-item img {
  display: block;
}

.members-item:hover {
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.members-figure {
  padding: 0;
  margin: 0;
}

.members-description {
  padding: 15px 0 15px 20px;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #292f36;
  background-color: #e1e6ea;
}

.members-description span {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #8d8f92;
}

.members-item:hover img {
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.members-item:hover figcaption {
  background-color: #3a454d;
  color: #ffffff;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.members-item:hover span {
  color: #ffffff;
}

.members-second-list {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 125px;
  margin: 0;
  padding: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.second-list-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #3a454d;
  vertical-align: middle;
}

.members-item:hover .members-second-list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.second-list-link {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.second-list-link:hover {
  background-color: #4e5a62;
}

.social-link-tw {
  background-image: url(../img/tw-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-in {
  background-image: url(../img/linkedin-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
}


/* WORK */

.work-section {
  padding: 80px 0 60px 0;
  background-color: #3a454d;
}

.work-heading {
  color: #fff;
}

.work-section .section-heading::before {
  background-color: #4d5961;
}

.work-list {
  margin: 0 -16px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work-item {
  position: relative;
  margin-bottom: 30px;
  width: calc(33% - 32px);
  margin: 0 16px 30px 16px;
}

.work-item img {
  display: block;
}

.work-item:hover {
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.work-figure {
  padding: 0;
  margin: 0;
}

.work-item:hover img {
  opacity: 0.5;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.work-description {
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 15px 0 15px 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  text-transform: uppercase;
}

.work-item:hover .work-description {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  background-color: #292f36;
}

.plus-btn {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: transparent;
  color: #a9a9a9;
  border: none;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  visibility: hidden;
  opacity: 0;
}

.plus-btn::before,
.plus-btn::after {
  position: absolute;
  left: 10px;
  top: 50%;
  content: '';
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.plus-btn::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 46%;
}

.work-item:hover .plus-btn {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}

.work-btn {
  display: block;
  padding: 6px 19px;
  width: 151px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  border-radius: 3px;
}

.work-btn:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}


/* SERVICES */

.services-section {
  padding: 80px 0 0 0;
}

.members-heading {
  margin-bottom: 85px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -14px;
  list-style: none;
}

.services-item {
  position: relative;
  width: calc(25% - 28px);
  margin: 0 14px 90px 14px;
  text-align: center;
}

.services-item::before {
  position: relative;
  content: '';
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  vertical-align: top;
}

.services-icon-cogs::before {
  background-image: url(../img/cogs.png);
}

.services-icon-pencil::before {
  background-image: url(../img/pencil.png);
}

.services-icon-mobile::before {
  background-image: url(../img/mobile.png);
}

.services-icon-clock::before {
  background-image: url(../img/clock.png);
}

.services-heading {
  margin: 0 0 17px 0;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292f36;
}

.services-text {
  font-size: 16px;
  margin: 0;
}


/* FEATURES*/

.features-section {
  padding: 80px 0 60px 0;
  background-color: #3a454d;
}

.features-heading {
  color: #fff;
}

.features-section .section-heading::before {
  background-color: #4d5961;
}

.features-list {
  margin: 0 -16px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-item {
  position: relative;
  margin-bottom: 30px;
  width: calc(33% - 32px);
  margin: 0 16px 30px 16px;
}

.features-item img {
  display: block;
  margin-bottom: 50px;
}

.features-figure {
  padding: 0;
  margin: 0;
}

.features-heading-inner {
  margin: 0 0 15px 0;
  color: #fff;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-text {
  color: #dcdfe1;
  margin: 0;
}


/* CONTACT */

.contact-section {
  padding: 65px 0 0 0;
}

.contact-heading {
  width: 1140px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.contact-map {
  min-height: 346px;
  position: relative;
  margin-bottom: 45px;
}

.contact-map img {
  position: absolute;
  top: 0;
  right: 0;
}

.contact-map iframe {
  position: relative;
  width: 100%;
  border: 0;
  z-index: 1;
}

.contact-columns {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-column {
  width: 555px;
  position: relative;
}

.contact-column-right {
  margin-left: auto;
}

.contact-heading-inner {
  margin: 0 0 25px 0;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #292f36;
  text-transform: uppercase;
}

.contact-column form {
  position: absolute;
  bottom: 0;
  width: 555px;
  padding: 30px 30px 0 30px;
  background-color: #fff;
  z-index: 2;
}

.form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-name,
.form-email {
  width: 240px;
}

.contact-column label {
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-text input,
.form-message textarea {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font: inherit;
  color: #8d8f92;
  background-color: #eaeef1;
  border: none;
}

.form-text input {
  height: 45px;
}

.form-message textarea {
  height: 160px;
}

.form-button-send {
  display: inline-block;
  margin-top: 30px;
  padding: 6px 19px;
  width: 151px;
  color: #ffffff;
  background-color: #23b7a4;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  border-radius: 3px;
  border: 2px solid transparent;
  cursor: pointer;
}

.form-button-send:hover {
  color: #000;
  background-color: transparent;
  border: 2px solid #000000;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}


/*FOOTER*/

.main-footer {
  padding: 40px 0;
  background-color: #3a454d;
}

.main-footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-copyright {
  margin: 0;
  color: #ffffff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.social-link {
  display: block;
  width: 33px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-be {
  background-image: url(../img/behance-icon.svg);
}

.social-link-sk {
  background-image: url(../img/skype-icon.svg);
}

@media screen and (max-width: 767px) {
  
  .container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-header {
    padding: 10px 0;
  }

  .main-list {
    display: none;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    position: absolute;
    top: 56px;
    right: 10px;
    background-color: #eee;
    z-index: 2;
  }

  .main-list li {
    margin-bottom: 3px;
  }

  .main-list a,
  .main-list a:hover {
    color: #000000;
  }

  .btn-toggle {
    display: block;
    margin-bottom: 5px;
  }



  .banner-heading {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .banner-text {
    width: auto;
    padding-right: 15px;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 25px;
  }

  .swiper-slide {
  min-height: 250px;
  -webkit-background-size: 100% auto;
    background-size: 100% 100%;
  }

  .banner-btn {
    padding: 1px 9px;
    font-weight: 400;
    margin-right: 10px;
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets {
  right: 10px;
  bottom: 15px;
  left: auto;
  width: auto;
  }
  /*FOR SECTIONS HEADING*/
  .section-heading {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .section-heading::before {
    height: 30px;
  }
  /* END FOR SECTIONS HEADING*/

  .about-section, 
  .members-section,
  .work-section {
    padding: 30px 0 30px 0;
  }

  .about-text {
    margin: 0 0 17px 0;
    padding-right: 15px;
    font-size: 14px;
    line-height: 24px;
  }

  .about-columns {
    flex-direction: column;
  }

  .about-social {
    width: auto;
    margin-bottom: 20px;
  }
  
  .social-links {
    width: auto;
    margin-top: 0;
    padding-right: 20px;
  }
  .social-btn {
    width: 50px;
    height: 50px;
  }

  .about-list {
    width: auto;
  }

  .about-list-item {
    margin-bottom: 10px;
  }

  .about-list .about-list-heading {
    font-weight: 400;
    padding-right: 15px;
  }

  .about-list .about-list-text {
    font-size: 14px;
    line-height: 24px;
    padding-right: 20px;
  }

  /* OUR TEAM*/
  .members-list {
    justify-content: center;
  }

  .members-item {
    width: auto;
    margin: 0 16px 18px 16px
  }

  /*WORK*/
  .work-list {
    margin-bottom: 25px;
  }
  .work-item {
    margin-bottom: 18px;
    width: auto;
  }
  .work-btn {
    font-weight: 400;
  }
}