body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #8d8f92;
  background-color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	vertical-align: middle;
}

/*HEADER*/

.main-header {
	padding: 26px 0;
	background-color: #1d2126;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-list {
	display: flex;
	flex-wrap: wrap;
	width: 603px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-list li {
	margin-right: 11px;
}

.main-list a {
	display: block;
	padding: 0 9px;
	color: #a4aead;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;

	border: 2px solid transparent;
}

.main-list a:hover {
	color: #a4aead;
	border: 2px solid #5b6168;
	border-radius: 2px;
}

.main-list .active {
	color: #23b7a4;
	border: 2px solid #23b7a4;
	border-radius: 2px;
}

/* END HEADER*/

/*BANNER*/

.banner	{
	padding-top: 221px;
	padding-bottom: 245px;
	background-color: #3a454d;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 660px;
}

.banner-heading {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
	color: #ffffff;

	text-transform: uppercase;
}

.banner-text {
	width: 654px;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	color: #ccd0d7;
}

.banner .banner-btn {
	display: inline-block;
	padding: 6px 21px;
	color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;
	border-radius: 3px;
	vertical-align: middle;
}

.banner .banner-btn:hover {
	background-color: #23b7a4;
	border: 2px solid #23b7a4;
	transition: 0.3s ease-in-out;
}
/* END BANNER*/
/* ABOUT*/

.about-heading {
	padding-left: 24px;
}

.about-social {
	width: 660px;
}