body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #8d8f92;
  background-color: #ffffff;
  counter-reset: section;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -9999px;
  top: -9999px;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding: 0;
}

.section-heading {
	position: relative;
	margin: 0 0 55px 0;
	padding-left: 24px;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
	text-transform: uppercase;
	color: #292f36;
}

.section-heading::before {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 10px;
	height: 35px;
	background-color: #e1e6ea;
}

/*HEADER*/

.main-header {
	padding: 26px 0;
	background-color: #1d2126;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-list {
	display: flex;
	flex-wrap: wrap;
	width: 603px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-list li {
	margin-right: 11px;
}

.main-list a {
	display: block;
	padding: 0 9px;
	color: #a4aead;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;

	border: 2px solid transparent;
}

.main-list a:hover {
	color: #a4aead;
	border: 2px solid #5b6168;
	border-radius: 2px;
}

.main-list .active {
	color: #23b7a4;
	border: 2px solid #23b7a4;
	border-radius: 2px;
}

/* END HEADER*/

/*BANNER*/

.banner	{
	padding-top: 221px;
	padding-bottom: 245px;
	background-color: #3a454d;
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 660px;
}

.banner-heading {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 36px;
	line-height: 42px;
	font-weight: 700;
	color: #ffffff;

	text-transform: uppercase;
}

.banner-text {
	width: 654px;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	color: #ccd0d7;
}

.banner .banner-btn {
	display: inline-block;
	padding: 6px 21px;
	color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;
	border-radius: 3px;
	vertical-align: middle;
}

.banner .banner-btn:hover {
	background-color: #23b7a4;
	border: 2px solid #23b7a4;
	transition: 0.3s ease-in-out;
}
/* END BANNER*/
/* ABOUT*/
.about-section {
	border-bottom: 1px solid #dde1e4;
	padding: 80px 0 100px 0;
}


.about-columns {
	display: flex;
	justify-content: space-between;
}

.about-social {
	width: 654px;
}

.about-text {
	margin: 0 0 30px 0;
}

.social-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 304px;
	margin-top: 55px;
}

.social-btn {
	width: 60px;
	height: 60px;
	background: #c8cdd0;	
}

.social-fb {
	background: #c8cdd0 url(../img/fb-icon.svg) no-repeat center center;	
}
.social-tw {
	background: #c8cdd0 url(../img/tw-icon.svg) no-repeat center center;	
}
.social-google {
	background: #c8cdd0 url(../img/google-icon.svg) no-repeat center center;	
}
.social-ball {
	background: #c8cdd0 url(../img/ball-icon.svg) no-repeat center center;	
}
.social-behance {
	background: #c8cdd0 url(../img/behance-icon.svg) no-repeat center center;	
}

.social-btn:hover {
	background-color: #d0d5d9;
}

.about-list {
	width: 457px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-list .about-list-heading {
	margin: 0 0 5px 0;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #292f36;
}

.about-list .about-list-text {
	margin: 0;
}

.about-list-item {
	position: relative;
	padding-left: 67px;
	margin-bottom: 28px;
}

.about-list-item::before {
	counter-increment: section;
	content: '0' counter(section);
	position: absolute;
	left: 0;
	top: 9px;

	width: 50px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	background-color: #39a493;
	color: #ffffff;
}
/*END ABOUT*/
/*OUR TEAM*/

.members-section {
	padding: 80px 0 100px 0;
}

.members-list {
  margin: 0 -16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}
.members-item {
  position: relative;
  width: calc(25% - 32px);
  margin: 0 16px 5px 16px;
}

.members-item img {
	display: block;
}

.members-item:hover {
  transition: 1s ease-in-out;
}

.members-figure {
  padding: 0;
  margin: 0;
}

.members-description {
  padding: 15px 0 15px 20px;
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #292f36;
  background-color: #e1e6ea;
}
.members-description span {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #8d8f92;
}

.members-item:hover img  {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.members-item:hover figcaption  {
  background-color: #3a454d;
  color: #ffffff;
  transition: 0.4s ease-in-out;
}

.members-item:hover span {
	color: #ffffff;
}


.members-second-list {
  list-style: none;
  position: absolute;
  left: 0;
  right:0;
  top: 125px;
  margin: 0;
  padding: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  
}
.second-list-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #3a454d;
  vertical-align: middle;
}

.members-item:hover .members-second-list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s ease-out all;
}

.second-list-link {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.second-list-link:hover {
	background-color: #4e5a62;
}

.social-link-tw {
	background-image: url(../img/tw-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.social-link-fb {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

.social-link-in {
	background-image: url(../img/linkedin-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

/* WORK */

.work-section {
	padding: 80px 0 60px 0;
    background-color: #3a454d;
}

.work-heading {
  color: #fff;
}

.work-section .section-heading::before  {
	background-color: #4d5961;
}

.work-list {
  margin: 0 -16px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}

.work-item {
  position: relative;
  margin-bottom: 30px;
  width: calc(33% - 32px);
  margin: 0 16px 30px 16px;
}

.work-item img {
	display: block;
}

.work-item:hover {
  transition: 1s ease-in-out;
  cursor: pointer;
}

.work-figure {
  padding: 0;
  margin: 0;
}

.work-item:hover img  {
  opacity: 0.5;
  transition: 0.4s ease-in-out;
}

.work-description {
  font-family: 'Quattrocento Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  list-style: none;
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  margin: 0;
  padding: 15px 0 15px 20px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  text-transform: uppercase;
}

.work-item:hover .work-description {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s ease-out all;
  background-color: #292f36;
  
}

.plus-btn {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: transparent;
  color: #a9a9a9;
  border: none;
  transform: translate(-50%);
  visibility: hidden;
  opacity: 0;
}

.plus-btn::before,
.plus-btn::after {
  position: absolute;
  left: 10px;
  top: 50%;
  content: '';
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.plus-btn::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 46%;
}

.work-item:hover .plus-btn {
	visibility: visible;
  	opacity: 1;
  	transition: 0.3s ease-out all;
}

.work-btn {
	display: block;
	padding: 6px 19px;
	width: 151px;
	margin-left: auto;
	margin-right: auto;

	color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;
	border-radius: 3px;
}

.work-btn:hover {
	background-color: #23b7a4;
	border: 2px solid #23b7a4;
	transition: 0.3s ease-in-out;
}

/* SERVICES */

.services-section {
	padding: 80px 0 0 0;
}

.members-heading {
	margin-bottom: 85px;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 -14px;
	list-style: none;
}

.services-item {
	position: relative;
	width: calc(25% - 28px);
	margin: 0 14px 90px 14px;
	text-align: center;
}

.services-item::before {
	position: relative;
	content: '';
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	vertical-align: top;
}

.services-icon-cogs::before {
	background-image: url(../img/cogs.svg);
}
.services-icon-pencil::before {
	background-image: url(../img/pencil.svg);
}
.services-icon-mobile::before {
	width: 30px;
	background-image: url(../img/mobile.svg);
}
.services-icon-clock::before {
	background-image: url(../img/clock.svg);
}

.services-heading {
	margin: 0 0 17px 0;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #292f36;	
}

.services-text {
	font-size: 16px;
	margin: 0;
}

/* FEATURES*/

.features-section {
	padding: 80px 0 60px 0;
    background-color: #3a454d;
}

.features-heading {
  color: #fff;

}

.features-section .section-heading::before  {
	background-color: #4d5961;
}

.features-list {
  margin: 0 -16px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
}

.features-item {
  position: relative;
  margin-bottom: 30px;
  width: calc(33% - 32px);
  margin: 0 16px 30px 16px;
}

.features-item img {
	display: block;
	margin-bottom: 50px;
}

.features-figure {
  padding: 0;
  margin: 0;
}

.features-heading-inner {
	margin: 0 0 15px 0;
	color: #fff;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.features-text {
	color: #dcdfe1;
	margin: 0;
}

/* CONTACT */

.contact-section {
	padding: 65px 0 0 0;
}

.contact-heading {
	width: 1140px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
}

.contact-map {
	min-height: 346px;
	position: relative;
	margin-bottom: 45px;
}

.contact-map img {
	position: absolute;
	top: 0;
	right: 0;
}

.contact-map iframe {
	position: relative;
	width: 100%;
	border: 0;
	z-index: 1;
}

.contact-columns {
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
}

.contact-column {
	width: 555px;
	position: relative;
}

.contact-column-right {
	margin-left: auto;
}

.contact-heading-inner {
	margin: 0 0 25px 0;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	color: #292f36;
	text-transform: uppercase;
}

.contact-column form {
	position: absolute;
	bottom: 0;
	width: 555px;
	padding: 30px 30px 0 30px;
	background-color: #fff;
	z-index: 2;
}

.form-text {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.form-name,
.form-email {
	width: 240px;
}

.contact-column label {
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 15px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
} 

.form-text input,
.form-message textarea {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	font: inherit;
	color: #8d8f92;
	background-color: #eaeef1;
	border: none;
}

.form-text input {
	height: 45px;
}

.form-message textarea {
	height: 160px;
}

.form-button-send {
	display: inline-block;
	margin-top: 30px;
	padding: 6px 19px;
	width: 151px;
	color: #ffffff;
	background-color: #23b7a4;
	text-transform: uppercase;
	font-family: 'Quattrocento Sans', Verdana, sans-serif;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;
	border-radius: 3px;
	border: 2px solid transparent;
	cursor: pointer;
}

.form-button-send:hover {
	color: #000;
	background-color: transparent;
	border: 2px solid #000000;
	transition: 0.3s ease-in-out;
}

/*FOOTER*/

.main-footer {
	padding: 40px 0;
	background-color: #3a454d;
}

.main-footer-row {
	display: flex;
	flex-wrap: wrap;
}

.footer-copyright {
	margin: 0;
	color: #ffffff;
}

.footer-social {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-left: auto;
	padding: 0;
	list-style: none;
}


.social-link {
	display: block;
	width: 33px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center center;
}

.social-link-be {
	background-image: url(../img/behance-icon.svg);
}

.social-link-sk {
	background-image: url(../img/skype-icon.svg);
}